version: '3.8'

services:
  db:
    image: mariadb:latest
    container_name: mariadb
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: movies
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    ports:
      - "3306:3306"
    volumes:
      - mariadb_data:/var/lib/mysql

  adminer:
    image: adminer:latest
    container_name: adminer
    ports:
      - "8080:8080"
    depends_on:
      - db

  backend:
    container_name: backend
    build:
      context: ./backend
      dockerfile: Dockerfile 
    environment:
      DB_URL: "mysql://user:password@mariadb:3306/movies"
    ports:
      - "8000:8000"
    depends_on:
      - db


volumes:
  mariadb_data:
